.PostContantContainer {
  display: flex;
  flex-direction: column;
  background: #d5dbf1;
  padding: 10px;
  border-radius: 15px;
}
.postHader {
  display: flex;
  justify-content: space-between;
}
.img_name {
  display: flex;
  gap: 7px;
  align-items: center;
}
.img_name img {
  border-radius: 50%;

  width: 60px;
}
.postContat {
  border-bottom: solid 1px;
  margin-bottom: -5px;
}
.action {
  gap: 15px;
  align-self: center;
  display: flex;
  align-items: center;
}
.action i {
  cursor: pointer;
}
.addcomments {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}
.addcomments input {
  border: none;
  padding-left: 15px;
  border-radius: 15px;
  outline: none;
  width: 51%;
  height: 34px;
}
.CommentUser {
  display: flex;
  gap: 10px;
  padding: 10px;
}
.CommentUser img {
  width: 50px;
  border-radius: 50%;
}
.comment {
  width: 73%;
  margin: auto;
}
.addcomments img {
  width: 50px;
  border-radius: 50%;
}
.addcomments div:first-child {
  display: flex;
  align-items: center;
  gap: 10px;
}
.EditsPost {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.EditsPost input {
  width: 70%;
  height: 37px;
  border-radius: 15px;
  padding-left: 8px;
}
